.counting {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 500px;
    color:white;
    font-size: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: resize;
    animation-duration: 2s;
    opacity: 0;
  }
  
  .one {
      font-size: 350px;
  }
  
  .two {
    animation-delay: 1s;
      font-size: 350px;
  
  }
  
  .three {
      animation-delay: 2s;
          font-size: 350px;
  
  
  }
  
  .four {
      animation-delay: 3s;
          font-size: 350px;
  
  
  }
  
  .five {
      animation-delay: 4s;
          font-size: 350px;
  
  
  }
  
  .six {
      animation-delay: 5s;
          font-size: 350px;
  
  
  }
  .seven {
      animation-delay: 6s;
          font-size: 350px;
  
  
  }
  
  .eight {
      animation-delay: 7s;
          font-size: 350px;
  
  
  }
  
  .nine {
      animation-delay: 8s;
          font-size: 350px;
  
  
  }
  
  .ten {
      animation-delay: 9s;
          font-size: 350px;
  
  
  }
  .css {
      animation-delay: 10s;
          font-size: 150px;
  
  
  }
  
  section {
    width:800px;
    height: 500px;
    background-color: black;
    position: relative;
  }
  
  
   @keyframes resize {
    0%, 100% {
      opacity: 0;
    }
    50% { opacity: 1;
    }
  }