.counting {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    color:white;
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: resize;
    animation-duration: 1s;
    opacity: 0;
  }
  
  
  .two {
    animation-delay: 1s;
  }
  
  .three {
      animation-delay: 2s;
  
  }
  
  .four {
      animation-delay: 3s;
  
  }
  
  .five {
      animation-delay: 4s
  
  }
  
  .six {
      animation-delay: 5s;
  
  }
  .seven {
      animation-delay: 6s;
  
  }
  
  .eight {
      animation-delay: 7s;
  
  }
  
  .nine {
      animation-delay: 8s;
  
  }
  
  .ten {
      animation-delay: 9s;
  
  }
  .css {
      animation-delay: 10s;
  
  }
  
  section {
     width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
  }
  
  
   @keyframes resize {
    0%, 100% {
      opacity: 0;
    }
    50% { opacity: 1;
    }
  }